@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@charset "utf-8";

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    color: #363636;
    line-height: 1.0;
}

h1, h2, h3, h4, h5 {
    margin-top: 3px;
	margin-bottom: 3px;
    font-weight: 500;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.container {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 1050px;
    height: 3200px;
    background-color: white;
}

#side {
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

#main {
    position: relative;;
    margin-left: 360px;
    min-height: 100%;
    padding: 20px;
}

#footer {
    text-align: center;
}

#id {
    text-align: center;
}

#name h1 {
    color: #363636;
    font-size: 25px;
    line-height: 1.3;
}

#name h1 span {
    color: #5f5f5f;
    font-size: 20px;
    line-height: 1.3;
}

#photo {
    margin: auto;
    width: 160px;
    height: 160px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #334960;
}

#photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.box{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.box h2 {
  color: #6495ed;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-item{
  width: 100%;
  float: left;
}

.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #32475c;
  background: #eee;
}

.contact-item:last-child .icon{
  border-bottom: none;
}

.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-weight: 700;
}

.contact-item .title.only {
  margin-top: 10px;
}

.contact-item .description {
  width: 80%;
  width: calc(100% - 55px);
  color: #334960;
}

#references .description {
  width: 75%;
  display: inline-block;
  background: #eee;
  margin-bottom: 6px;
  margin-left: 12%;
  position: relative;
  padding: 3px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#references .description h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.journal_detail {
    color: #727272;
}

.skill {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 7px;
    background: #32475c;
    position: relative;
    font-size: .75em;
}

#references div p {
    margin: 0 0 2px;
}

#award_list, #education_list {
    margin-top: 5px;
    margin-bottom: 0;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

#award_list:before, #education_list:before {
  width: 5px;
  height: 80%;
  position: absolute;
  left: 45px;
  top: 10px;
  content: ' ';
  display: block;
  background: #32475c;
  background: -moz-linear-gradient(top,  #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#32475c), color-stop(89%,#32475c), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#32475c 7%,#32475c 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#32475c 7%,#32475c 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#32475c 7%,#32475c 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#32475c 7%,#32475c 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

#education_list:before {
    left: 30px;
}

#award_list li, #education_list li {
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}

#award_list .date, #education_list .date {
    margin-top: 7px;
    width: 14%;
    color: #eee;
    padding: 9px;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    background: #334960;
    box-shadow: 0 0 3px 3px #334960, inset 0 0 3px 3px #334960;
    text-align: center;
}

#education_list .date {
    padding: 5px;
    width: 21%;
}

#award_list .description, #education_list .description {
    width: 83%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#education_list .description {
    width: 78%;
}

#award_list .description h3, #education_list .description h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

#award_list .description h4, #education_list .description h4 {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

#award_list .description p, #education_list .description p {
    margin-top: 5px;
    padding: 0;
}

#projects h3 {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

#summary_detail {
	margin-left: 3%;
	margin-bottom: 0px;
}

#summary_hl p {
	margin: 0 0 5px;
}

#summary_hl {
	margin-bottom: 6px;
}

ul#summary_hl {
    -webkit-margin-before: 0;
}

#summary_hl .list-group-item {
	margin-left: 1%;
	padding: 5px 7px;
	border: 0px;
}

h3.skill-item {
    color: #637cd3;
    font-size: 1.15em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.job_org {
    margin-left: 3%;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.job_detail {
    padding-left: 5%;
    width: 100%
}

.job_org h3, .job_detail h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.job_org .location {
    margin-bottom: 1px;
}

.job_org .date {
    color: #727272;
    margin-bottom: 1px;
    font-weight: 500;
    font-size: 1em;
}

.job_detail h4 {
    font-size: 1em;
    font-weight: bold;
}

#projects div.panel-body {
    padding-bottom: 0px;
}

.list-group {
	margin-bottom: 10px;
}

.list-group-item {
    padding: 7px 10px;
}

.achievement .list-group-item {
  margin-left: 1%;
  padding: 5px 7px;
  border: 0px;
}
